<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Préstamos Bind</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/bind.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/6d58b2f27d.js"></script>
</head>
<body>
    <div id="prestamos" class="container">
        <form action="" @submit.prevent="">
            <div class="row row-sep">
                    <label class="col-md-2"><strong>Monto solicitado:</strong></label> 
                    <span v-show="showIcon">
                        <i v-if="montoConvenioStatus" key="outConvVal" class="background-green" aria-hidden="true"><i class="fa fa-check-circle">Convenio</i></i>
                        <i v-else key="outConvVal" class="background-red" aria-hidden="true"><i class="fa fa-times fa-2x"></i></i>
                        <i v-if="montoOutConvenioStatus" key="outConvVal" class="background-green" aria-hidden="true"><i class="fa fa-check-circle"> Fuera de convenio</i></i>
                        <i v-else key="outConvVal" class="background-red" aria-hidden="true"><i class="fa fa-times fa-2x"></i></i>
                    </span>
                    <input class="col-md-2 text-right" type="text" name="txtMontoSolicitado" id="txtMntSol" v-model.number="capitalSolic" required />
            </div>
            <div class="row row-sep">
                <label class="col-md-2"><strong>Sueldo bruto:</strong></label>
                <input type="text" class="col-md-2 text-right" name="txtSueldoBruto" id="txtSueldoBruto" v-model.number="sueldoBruto" required />
            </div>
            <div class="row row-sep">
                <label class="col-md-2"><strong>Cuotas:</strong></label>
                <input type="number" class="text-right col-md-2" min="2" max="60" name="txtCuotas" id="txtCuotas" v-model.number="plazo" required />
            </div>         
            <div class="row text-right row-sep">
                <input type="submit" value="Validar" class="btn btn-success" @click="validar">   
            </div>            
        </form>
        <!-- Segunda Grilla -->
        <div class="container">
            <table class="table table-hover table-striped">          
                    <!-- Aplicadas en las celdas (<td> o <th>) -->
                <tr class="clearfix">
                  <th><label><strong>Tasas e importes</strong></label></th>
                  <th><label><strong>Convenio</strong></label></th>
                  <th><label><strong>Fuera de convenio</strong></label></th>
                </tr>
                <tr class="clearfix">
                    <td><label><strong>T.N.A.</strong></label></td>
                    <td>{{tnaConvenioScreen}}%</td>
                    <td>{{tnaOutConvenioScreen}}%</td>
                </tr>
                <tr class="clearfix">
                    <td><label><strong>Tem. I.V.A. incl.</strong></label></td>
                    <td>{{temIvaConvenio}}%</td>
                    <td>{{temIvaOutConvenio}}%</td>
                </tr>
                <tr class="clearfix">
                    <td><label><strong>Importe cuota mensual</strong></label></td>
                    <td>${{importeConvenio}}.-</td>
                    <td>${{importeOutConvenio}}.-</td>
                </tr>
                <tr class="clearfix">
                    <td><label><strong>Seguro</strong></label></td>
                    <td>${{seguroConvenio}}.-</td>
                    <td>${{seguroOutConvenio}}.-</td>
                </tr>
            </table>    
        </div>
        <!-- Tercera grilla -->
        <div class="row">
            <div class="clearfix">
                <label class="col-md-2"><strong>Couta máxima permitida</strong></label>
            </div>
            <div class="clearfix row-sep">
                <label class="col-md-2"><strong>Convenio</strong></label>
                <input type="number" id="coutaMaxConv" readonly>
            </div>
            <div class="clearfix row-sep    ">
                <label class="col-md-2"><strong>Fuera de convenio</strong></label>
                <input type="number" id="coutaMaxOutConv" readonly>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.js"></script>
    <script src="./src/app.js"></script>
</body>
</html>