<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Préstamos Bind</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/bind.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/6d58b2f27d.js"></script>
</head>
<body>
    <div id="prestamos" class="container">
        <form action="" @submit.prevent="">
            <div class="row row-sep">
                    <label class="col-md-2"><strong>Monto solicitado:</strong></label>
                    <input class="col-md-2 text-right row-2-grid" type="number" name="txtMontoSolicitado" id="txtMntSol" v-model.number="capitalSolic" required />
                    <i class="fa fa-info-circle fa-2x" aria-hidden="true" @click="showModal = true"></i>
                    <span v-show="showIcon">
                        <i v-if="montoConvenioStatus && montoOutConvenioStatus" key="convVal" class="background-green" aria-hidden="true"><i class="fa fa-check-circle fa-2x"></i></i>
                        <i v-if="!montoConvenioStatus" key="convNotVal" class="background-red" aria-hidden="true"><i class="fa fa-times">Convenio - Máximo {{cantSueldBrutoConvenio}} sueldos brutos</i></i>
                        <i v-if="!montoOutConvenioStatus" key="outConvNotVal" class="background-red" aria-hidden="true"><i class="fa fa-times">Fuera de convenio  - Máximo {{cantSueldBrutoOutConvenio}} sueldos brutos</i></i>
                        <!-- 
                        <i v-if="montoOutConvenioStatus" key="outConvVal" class="background-green" aria-hidden="true"><i class="fa fa-check-circle"> Fuera de convenio</i></i>
                        <i v-else key="outConvVal" class="background-red" aria-hidden="true"><i class="fa fa-times fa-2x"></i></i>
                        -->
                    </span>
            </div>
            <div class="row row-sep">
                <label class="col-md-2"><strong>Sueldo bruto:</strong></label>
                <input type="number" class="col-md-2 text-right" name="txtSueldoBruto" id="txtSueldoBruto" v-model.number="sueldoBruto" required />
            </div>
            <div class="row row-sep">
                <label class="col-md-2"><strong>Cuotas:</strong></label>
                <input type="number" class="text-right col-md-2" min="2" max="60" name="txtCuotas" id="txtCuotas" v-model.number="plazo" required />
            </div>         
            <div class="row text-right row-sep">
                <input type="submit" value="Validar" class="btn btn-success" @click="validar">   
            </div>            
        </form>
        <!-- Segunda Grilla -->
        <div class="container">
            <table class="table table-hover table-striped">          
                    <!-- Aplicadas en las celdas (<td> o <th>) -->
                <tr class="clearfix">
                  <th><label><strong>Tasas e importes</strong></label></th>
                  <th><label><strong>Convenio</strong></label></th>
                  <th><label><strong>Fuera de convenio</strong></label></th>
                </tr>
                <tr class="clearfix">
                    <td><label><strong>T.N.A.</strong></label></td>
                    <td>{{tnaConvenioScreen}}%</td>
                    <td>{{tnaOutConvenioScreen}}%</td>
                </tr>
                <tr class="clearfix">
                    <td><label><strong>Tem. I.V.A. incl.</strong></label></td>
                    <td>{{temIvaConvenio}}%</td>
                    <td>{{temIvaOutConvenio}}%</td>
                </tr>
                <tr class="clearfix">
                    <td><label><strong>Importe cuota mensual</strong></label></td>
                    <td>${{importeConvenio}}.-</td>
                    <td>${{importeOutConvenio}}.-</td>
                </tr>
                <tr class="clearfix">
                    <td><label><strong>Seguro</strong></label></td>
                    <td>${{seguroConvenio}}.-</td>
                    <td>${{seguroOutConvenio}}.-</td>
                </tr>
            </table>    
        </div>
        <!-- Tercera grilla -->
        <div class="row">
            <div class="clearfix">
                <label class="col-md-2"><strong>Couta máxima permitida</strong></label>
            </div>
            <div class="clearfix row-sep">
                <label class="col-md-2"><strong>Convenio</strong></label>
                <input type="number" id="coutaMaxConv" readonly>
            </div>
            <div class="clearfix row-sep    ">
                <label class="col-md-2"><strong>Fuera de convenio</strong></label>
                <input type="number" id="coutaMaxOutConv" readonly>
            </div>
        </div>

        <div class="clearfix">
            <label class="label label-blue col-md-12 text-center"><strong>Atención: </strong>El simulador de préstamos 
                <span class="subrayado">no es un formulario</span>. Los cálculos son siempre 
                <span class="subrayado">aproximados y no podrán tomarse como definitivos.</span>
            </label>
        </div>

        <!-- modal -->
        <modal v-if="showModal" @close="showModal = false">
            <!--
              you can use custom content here to overwrite
              default content
            -->
            <h3 slot="header">Condiciones</h3>
        </modal>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.js"></script>
    <script src="./src/app.js"></script>
</body>
</html>

<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
  
            <div class="modal-header">
              <slot name="header">
                Condiciones de préstamo
              </slot>
            </div>
  
            <div class="modal-body">
              <slot name="body">
                <ul>
                    <li>El monto solicitado no debe superar la cantidad de sueldos brutos establecidos.</li>
                    <li>La cantidad de cuotas debe ser entre 2 y 60 meses.</li>
                    <li>El importe de la cuota no debe superar el 30% del sueldo bruto.</li>
                </ul>
              </slot>
            </div>
  
            <div class="modal-footer">
              <slot name="footer">
                <button class="modal-default-button btn btn-info" @click="$emit('close')">
                  OK
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>