<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Préstamos Bind</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/bind.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/6d58b2f27d.js"></script>
</head>
<body>
    <div id="prestamos" class="container">
        <div class="col-md-offset-3">
        <form action="" @submit.prevent="">
            <div class="row row-sep">
                    <label class="col-md-2"><strong>Monto solicitado:</strong></label>
                    <input class="col-md-2 text-right row-2-grid" type="number" name="txtMontoSolicitado" id="txtMntSol" v-model.number="capitalSolic" required />
                    <i class="fa fa-info-circle fa-2x label-blue" aria-hidden="true" @click="showModal = true"></i>
                    <span v-show="showIcon">
                        <i v-if="montoConvenioStatus && montoOutConvenioStatus" key="convVal" class="background-green" aria-hidden="true"><i class="fa fa-check-circle fa-2x"></i></i>
                        <i v-if="!montoConvenioStatus" key="convNotVal" class="background-red" aria-hidden="true"><i class="fa fa-times"> Máximo {{cantSueldBrutoConvenio}} sueldos brutos</i></i>
                    </span>
            </div>
            <div class="row row-sep">
                <label class="col-md-2"><strong>Sueldo bruto:</strong></label>
                <input type="number" class="col-md-2 text-right" name="txtSueldoBruto" id="txtSueldoBruto" v-model.number="sueldoBruto" required />
            </div>

            <!--
            <div class="row row-sep">
                <label class="col-md-2"><strong>Cuotas:</strong></label>
                <input type="number" class="text-right col-md-2" min="2" max="60" name="txtCuotas" id="txtCuotas" v-model.number="plazo" required />
            </div>
            -->
            <div class="row row-sep">
                <label class="col-md-2"><strong>Cuotas:</strong></label>         
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle dropCoutas"
                            data-toggle="dropdown">
                    Elija cantidad <span class="caret"></span>
                    </button>                
                    <ul class="dropdown-menu scrollable-menu" role="menu">
                        <span v-for="i in 60">
                            <li class="text-center">{{i}}</li>
                        </span>
                    </ul>
                </div>
            </div>
            
            
            <div class="row text-right row-sep">
                <input id="btnValidar" type="submit" value="Validar" class="btn btn-success" @click="validar">   
            </div>            
        </form>
        </div>
        <!-- Segunda Grilla -->
        <div class="container">
            <div class="col-md-offset-3 col-md-6">
                <table class="table table-hover table-striped">          
                        <!-- Aplicadas en las celdas (<td> o <th>) -->
                    <tr class="clearfix">
                    <th><label><strong>Tasas e importes</strong></label></th>
                    <th><label><strong>Condiciones</strong></label></th>
                    </tr>
                    <tr class="clearfix">
                        <td><label><strong>T.N.A.</strong></label></td>
                        <td>{{tnaConvenioScreen}}%</td>
                    </tr>
                    <tr class="clearfix">
                        <td><label><strong>Importe cuota mensual</strong></label></td>
                        <td>${{importeConvenio}}.- 
                            <span v-show="showIcon">
                                <i v-if="importeValidConv" key="impValConv" class="background-green" aria-hidden="true"><i class="fa fa-check-circle fa-2x"></i></i>
                                <i v-else key="impValConv" class="background-red" aria-hidden="true"><i class="fa fa-times fa-2x"></i></i>
                            </span>
                        </td>
                    </tr>
                    <tr class="clearfix">
                        <td><label><strong>Couta máxima permitida</strong></label></td>
                        <td>${{topeMaxConvenio}}.-</td>
                    </tr>
                    <!--
                    <tr class="clearfix">
                        <td><label><strong>Seguro</strong></label></td>
                        <td>${{seguroConv}}.-</td>
                    </tr>
                    -->
                </table>
            </div>    
        </div>
        <div class="clearfix">
            <label class="label label-blue col-md-12 text-center"><strong>Atención: </strong>El simulador de préstamos 
                <span class="subrayado">no es un formulario</span>. Los cálculos son siempre 
                <span class="subrayado">aproximados y no podrán tomarse como definitivos.</span>
            </label>
        </div>

        <!-- modal -->
        <modal v-if="showModal" @close="showModal = false">
            <!--
              you can use custom content here to overwrite
              default content
            -->
            <h3 slot="header">Condiciones</h3>
        </modal>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.js"></script>
    <script src="./src/app.js"></script>
</body>
</html>

<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
  
            <div class="modal-header">
              <slot name="header">
                Condiciones de préstamo
              </slot>
            </div>
  
            <div class="modal-body">
              <slot name="body">
                <ul>
                    <li>El monto máximo a otorgar en concepto de Préstamo personal será de hasta 6 (seis) sueldos brutos.</li>
                    <li>La RCI (relación cuota/ ingreso) no puede superar el 25% del sueldo neto del solicitante.</li>
                    <li>Plazo: máximo 60 meses</li>
                    <li>Moneda: Pesos</li>
                </ul>
              </slot>
            </div>
  
            <div class="modal-footer">
              <slot name="footer">
                <button class="modal-default-button btn btn-info" @click="$emit('close')">
                  OK
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>